[run]
omit=
    # no need to data files
    */data/*
    commons/utilities/logger.py
    commons/utilities/pagination.py
    commons/utilities/docs.py
    commons/models/enums.py
    commons/auth/scopes.py
    commons/utilities/migration_utils.py
    commons/utilities/async_http_client.py

[report]
fail_under = 85
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    def __str__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

[html]
title = Coverage Report
directory = htmlcov
